.logo-img {
    height: 70px;
    width: 90px;
    object-fit: cover;
}
.nav-link {
    color: black;
    font-weight: 600;
}
.btn-outline-success {
color: black;
}
.slider-img {
    height: 90vh !important;
    object-fit:cover;
}
.card img {
    height: 70vh;
    object-fit: cover;
}
.form {
    background-color: rgba(0, 0, 0, 0.066);
}
.form {
    background-image: url(../images/form\ poster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
footer {
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 60px 0px 0px 0px;
    background-position: center;
    color: white;
}
 
   .col-1 { 
            width: 25%; padding: 0px 25px; }  
            .col-1 p {
                 color: white; font-size: 20px; padding: 30px 0px; font-weight: 800; } 
     .col-1 ul { 
        color: white; } 
         .col-1 ul h2 {
             font-size:29px; font-weight: 900; padding: 0px 0px 30px 0px ; }
           .col-1 ul li { 
            list-style: none; }  
            .col-1 ul li a {
                 text-decoration: none; color: white; padding: 20px 0; display: block; font-size: 20px; font-weight: 700; } 
                  .col-parent-1{    
                     display: flex;     background-color: rgba(0, 0, 0, 0.604);     padding: 60px 0px ; }